Source: etherpad-lite
Section: net
Priority: extra
Maintainer: Alexandros Kosiaris <akosiaris@wikimedia.org>
Build-Depends: debhelper (>= 9), nodejs (>= 10), npm (>= 5.8), libpq-dev
Standards-Version: 1.0

Package: etherpad-lite
Depends: nodejs (>= 10)
Architecture: all
Description: A web-based word processor that allows people to work
 together in real-time.
 .
 When multiple people edit the same document simultaneously, any changes are
 instantly reflected on everyone's screen. The result is a new and productive
 way to collaborate on text documents, useful for meeting notes, drafting
 sessions, education, team programming, and more.
